body {
  font-family: "Fraunces 9pt Soft",sans-serif !important;
}
img {
  width: 100%;
}

#header_logo {
  width: 170px;
}

.top_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(73, 188, 241);
}

.top_container ul {
  display: flex;
  list-style: none;
  gap: 47px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
  align-items: center;
  font-family: Barlow, sans-serif;
}
.top_container a {
  all: unset;
}

#contact {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  letter-spacing: -0.107px;
  text-transform: uppercase;
  padding: 16px 30px 15px 32px;
  border-radius: 28px;
  background: rgba(255, 255, 255, 0.2537);
}
.first_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 105px;
  height: 105vh;
  background-image: url(/images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 275px;
}
#main_h1 {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 8.75px;
  text-transform: uppercase;
}

#down_arrow {
  width: 30px;
  height: 107.484px;
}

.second_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#Transform,
#stand_out {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 85px;
  width: 70%;
  justify-self: center;
}

#Transform_your,
#stand_out_here {
  color: #24303e;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.286px;
}

#Transform_p,
#stand_out_p {
  color: #808397;
  font-family: Barlow, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.129px;
  margin-top: 32px;
  margin-bottom: 40px;
}
#learn_more {
  color: #24303e;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* #egg {
}

#glass {
} */

#Cherry {
  background: url(./images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

#Graphic_design {
  color: #24554a;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.2px;
}

#Cherry_p {
  color: #24554A;
  text-align: center;
  font-family: Barlow,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 168.75% */
  letter-spacing: -0.114px;
}

#Mandarin {
  background: url(./images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

#Photography {
  color: #052c3b;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.2px;
  opacity: 0.75;
}

#Mandarin_p {
  color: #19536C;
  text-align: center;
  font-family: Barlow,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 168.75% */
  letter-spacing: -0.114px;
}

#Cherry,
#Mandarin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0px 146px;
}
#Graphic_design,
#Photography {
  margin-bottom: 27px;
  margin-top: 300px;
}
