body {
  font-family: "Fraunces 9pt Soft", sans-serif !important;
}
img {
  width: 100%;
}

#header_logo {
  width: 170px;
}

.top_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(73, 188, 241);
}

.top_container ul {
  display: flex;
  list-style: none;
  gap: 47px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.129px;
  align-items: center;
  font-family: Barlow, sans-serif;
  cursor: pointer;
}
.top_container a {
  all: unset;
}

#contact {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.107px;
  text-transform: uppercase;
  padding: 16px 30px 15px 32px;
  border-radius: 28px;
  background: rgba(255, 255, 255, 0.2537);
}
.first_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 105vh;
  background-image: url(./images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 155px;
}
#main_h1 {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 8.75px;
  text-transform: uppercase;
}

#down_arrow {
  margin-top: 235px;
  width: 30px;
  height: 107.484px;
}

.second_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#Transform,
#stand_out {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 85px;
  width: 70%;
  justify-self: center;
}

#Transform_your,
#stand_out_here {
  color: #24303e;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.286px;
}

#Transform_p,
#stand_out_p {
  color: #808397;
  font-family: Barlow, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.129px;
  margin-top: 32px;
  margin-bottom: 40px;
}
#learn_more {
  color: #24303e;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

#Cherry {
  background: url(./images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

#Graphic_design {
  color: #24554a;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.2px;
}

#Cherry_p {
  color: #24554a;
  text-align: center;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.114px;
}

#Mandarin {
  background: url(./images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

#Photography {
  color: #052c3b;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.2px;
  opacity: 0.75;
}

#Mandarin_p {
  color: #19536c;
  text-align: center;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.114px;
}

#Cherry,
#Mandarin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0px 146px;
}
#Graphic_design,
#Photography {
  margin-bottom: 27px;
  margin-top: 300px;
}

.third_section {
  height: 457px;
  flex-shrink: 0;
}

.main_clientclass img {
  width: 72px;
  border-radius: 72px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 58px;
}

#testimonials {
  color: #a7aaad;
  text-align: center;
  font-family: "Fraunces 9pt Soft";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5px;
  margin-top: 88px;
}

.main_clientclass {
  display: flex;
  gap: 30px;
  margin-top: 106px;
}

.main_clientclass p {
  color: #5b636d;
  text-align: center;
  font-family: Barlow sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.129px;
}

.main_clientclass h3 {
  color: #24303e;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: -0.129px;
  margin-top: 59px;
}

.main_clientclass h4 {
  color: rgba(167, 170, 173, 1);
  text-align: center;
  font-family: Barlow sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.1px;
  margin-top: 10px;
}

.client_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fourth_section {
  margin-top: 139px;
  display: flex;
  margin-top: 139px;
  display: flex;
  align-items: center;
  width: 25%;
}

.end_part {
  background: #90d4c6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 100%;
}

.sunnyside {
  width: 170px;
}

.services {
  display: flex;
  gap: 57px;
  margin-bottom: 88px;
  margin-top: 40px;
}

.services button {
  color: #458d7e;
  font-family: Barlow sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.129px;
  background: none;
  cursor: pointer;
}

.logos {
  width: 21px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.logos img:hover {
  transform: scale(1.1);
  fill: #fff;
  cursor: pointer;
}
.services button:hover {
  cursor: pointer;
  color: #fff;
  transform: scale(1.1);
}

#learn_moremaindiv {
  position: relative;
}
#learn_more {
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: 10px;
  position: relative;
  z-index: 2;
}
#learn_more_div {
  border-radius: 28px;
  background: #fad400;
  width: 137px;
  height: 10px;
  position: absolute;
  bottom: 10px;
  left: 3px;
  z-index: 0;
}
#learn_more_div2 {
  border-radius: 28px;
  background: #fe7766;
  width: 137px;
  height: 10px;
  position: absolute;
  bottom: 10px;
  left: 3px;
  z-index: 0;
}


.menu-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#hamburger_menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .top_container ul {
    display: none;
  }
  .first_section {
    height: 538px;
    background-position: center;
    padding-bottom: 100px;
  }

  #main_h1 {
    font-size: 40px;
    width: 327px;
  }

  #down_arrow {
    margin-top: 79px;
  }

  .second_section {
    display: flex;
    flex-direction: column;
  }

  #Transform,
  #stand_out {
    width: auto;
    align-items: center;
    margin-top: 60px;
  }
  #Transform_your,
  #stand_out_here {
    font-size: 32px;
  }
  #Transform_p,
  #stand_out_p {
    margin-top: 24px;
    margin-bottom: 0;
  }
  #learn_moremaindiv,
  #learn_moremaindiv2 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  #learn_more_div,
  #learn_more_div2 {
    opacity: 0.25;
  }

  #egg {
    order: -1;
  }
  .third_section {
    height: auto;
  }
  .main_clientclass {
    flex-direction: column;
  }
  .fourth_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: auto;
  }
  .main_clientclass p {
    width: 327px;
  }

  .main_container {
    display: grid;
  }
  #Cherry,
  #Mandarin {
    padding: 30px 0;
  }

  #hamburger_menu {
    display: block;
  }
  #testimonials {
    font-size: 16px;
  }
  .main-menu.show  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translateX(-50%);
    width: 329px;
    height: 305px;
    background: #FFFCF8;
  }

 .main-menu.show ul{
  display: flex;
  flex-direction: column;
  gap: 30px;
 }
 .main-menu.show li{
  color: #808397;
font-family: Barlow,sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 125% */
letter-spacing: -0.143px;
 }
 #contact{
  color: #24303E;
font-family: "Fraunces 9pt Soft",sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 25px; /* 166.667% */
letter-spacing: -0.107px;
text-transform: uppercase;
width: 140px;
height: 56px;
flex-shrink: 0;
border-radius: 28px;
background: #FBD600;
 }
 .main-menu{
  display: none;
 }

 .right-triangle {
  width: 0;
  height: 0;
  border-right: 24px solid #FFFCF8; 
  border-bottom: 24px solid transparent;
  transform: rotate(90deg);
  position: absolute;
    top: -24px;
    right: 0;
}

} 
  